name: Release

permissions: {}

on:
  push:
    tags: ["v*.*.*"]

jobs:
  release:
    name: Release
    uses: grafana/xk6/.github/workflows/extension-release.yml@386567b7bc63e8a519be0ec9722c18e786f0a091 # v1.3.4
    permissions:
      contents: write
    with:
      go-version: "1.25.x"
      os: '["linux", "windows", "darwin"]'
      arch: '["amd64", "arm64"]'
      k6-version: "v1.6.0"
      xk6-version: "1.3.4"
